.conter {
    width: 1200px;
    margin: 0 auto;
}

#toolbar {
    height: 30px;
    background: #f6f6f6;

    .conter {
        position: relative;
    }

    #tool_right {
        color: #e2e2e2;
        font-size: 12px;
        text-align: right;
        padding-right: 5px;

        a {
            color: #000;
            padding-left: 15px;
        }

        #ming {
            display: inline-block;
            padding-left: 20px;
            background: url(../img/default.jpg) no-repeat left center;
            background-size: contain;
            color: #ff464e;
            position: relative;
            cursor: pointer;

            &::after {
                content: '';
                display: inline-block;
                height: 0;
                width: 0;
                border: 5px solid #f6f6f6;
                border-top-color: #FFA3BA;
            }

            &:hover::after {
                content: '';
                display: inline-block;
                height: 0;
                width: 0;
                border: 5px solid #f6f6f6;
                border-bottom-color: #FFA3BA;

            }

            ul {
                width: 88px;
                list-style: none;
                position: absolute;
                top: 14px;
                left: 5px;
                border: 1px solid #f7dce0;
                border-radius: 5px;
                padding-left: 0;
                display: none;
                z-index: 29;
                background: #fff;

                li {
                    padding-left: 20px;
                    height: 25px;
                    line-height: 25px;
                    text-align: left;
                    border-bottom: 1px solid #f7dce0;

                    &:hover {
                        background: #f7dce0;
                    }
                }

                ;
            }

            &:hover ul {
                display: block;
            }
        }

        #tool_zc {
            color: #ff464e;
            padding-right: 15px;
        }

        #tool_car_num {
            background: red;
            color: #fff;
            display: inline-block;
            width: 18px;
            height: 18px;
            margin: 8px 5px 0 3px;
            text-align: center;
            border-radius: 9px;
        }

        a:hover {
            color: #ff464e;
        }

        #tool_car em {
            font-style: normal;
        }

        #tool_car,
        #tool_khfw {
            display: inline-block;
            height: 30px;
        }

        #tool_car span:nth-child(1) {
            background: url(../img/icon_total.png) no-repeat 0 -150px;
            padding-left: 20px;
            display: inline-block;
            height: 30px;
            float: left;
        }

        #tool_car:hover {
            color: #000;
            background: #fff;
        }

        #tool_khfw:hover ul {
            display: block;
        }

        #tool_khfw ul {
            width: 62px;
            border: 1px solid #ccc;
            border-radius: 3px;
            position: absolute;
            right: 0;
            top: 25px;
            display: none;
            list-style: none;
            padding-left: 0;
            z-index: 19;

            li {
                font-size: 12px;
                text-align: center;
                color: #000;
            }

            li:hover {
                color: #ff464e;
            }
        }

    }

}