body {
  background: #f6f6f6;
  color: #666666;
}

.conter {
  width: 980px;
  margin: 0 auto;
}

#header {
  border-bottom: 4px solid #ff464e;
  background: #fff;
}

.header_top {
  height: 85px;
  position: relative;
}

.header_top #header_logo {
  width: 210px;
  height: 56px;
  background: url(../img/header_total.gif) no-repeat -72px -217px;
  position: absolute;
  top: 17px;
}

.header_top #ensaio {
  width: 465px;
  height: 33px;
  background: url(../img/header_total.gif) no-repeat 0 0;
  position: absolute;
  top: 24px;
  right: 10px;
}

#main {
  padding-top: 20px;
}

#main #main_top {
  background: #fff;
  padding: 20px 50px;
  border-bottom: #e2e2e2 solid 1px;
}

#main #main_top .s1 {
  color: #ff464e;
  padding-right: 20px;
  background: url(../img/hd_bg.gif) no-repeat center right;
}

#main #main_top .s2 {
  font-size: 12px;
  margin-top: 3px;
}

#main #main_top .s3 {
  float: right;
  font-size: 14px;
}

#main #main_top .s3 a {
  color: #0289cd;
}

#main #main_bottom {
  padding: 30px 80px 50px;
  background: #fff;
  display: flex;
}

#main #main_bottom ul li {
  width: 450px;
  height: 45px;
  padding-bottom: 25px;
  position: relative;
}

#main #main_bottom ul li label {
  text-align: right;
  display: inline-block;
  font-size: 14px;
  width: 70px;
}

#main #main_bottom ul li input {
  color: #666;
  padding: 12px 0 12px 10px;
  border: 1px solid #c6c6c6;
  height: 14px;
  line-height: 14px;
  width: 250px;
}

#main #main_bottom ul li em {
  width: 16px;
  height: 16px;
  background: url(../img/login.gif) no-repeat 0 -19px;
  display: inline-block;
  margin: 10px 3px 0 10px;
  display: none;
}

#main #main_bottom ul li span {
  font-size: 12px;
}

#main #main_bottom ul li span a {
  color: #0289cd;
}

#main #main_bottom ul li p {
  width: 330px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: 90px;
  font-size: 12px;
  display: none;
}

#main #main_bottom ul li #tex1 {
  width: 130px;
}

#main #main_bottom ul li #okbtn {
  background: #ff464e;
  color: #fff;
  width: 260px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 2px;
}

#main #main_bottom ul li #miandl {
  width: 14px;
  margin-right: 5px;
}

#main #main_bottom ul li .p1 {
  top: 0;
  left: 70px;
}

#main #main_bottom ul li:nth-child(4) {
  height: 28px;
  box-sizing: border-box;
}

#main #main_bottom ul li:nth-child(4) span:nth-child(4) {
  margin-left: 100px;
  color: #999;
}

#main #main_bottom ul .last a {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

#main #main_bottom ul .last #wx {
  margin-left: 70px;
  background: url(../img/new_login.gif) no-repeat -236px -194px;
}

#main #main_bottom ul .last #wb {
  background: url(../img/new_login.gif) no-repeat -27px -169px;
}

#main #main_bottom ul .last #tb {
  background: url(../img/new_login.gif) no-repeat -27px -140px;
  vertical-align: top;
}

#main #main_bottom ul .last em {
  width: 12px;
  height: 22px;
  background: url(../img/icons_total.gif) no-repeat;
  background-position: right -249px;
  margin: 0 5px 0 40px;
}

#main #main_bottom ul .last span {
  vertical-align: top;
  font-size: 14px;
}

#main #main_bottom ul .yan #tex {
  border: 1px solid #c6c6c6;
  width: 138px;
  padding: 12px 0 12px 10px;
  vertical-align: top;
}

#main #main_bottom ul .yan .ma {
  display: inline-block;
  width: 60px;
  height: 40px;
  background: url(../img/timg.jpg) no-repeat center center;
  vertical-align: top;
  text-align: center;
}

#main #main_bottom ul .yan .ma span {
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
}

#main #main_bottom ul .yan i {
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}

#main #main_bottom #main_bottom_r {
  width: 300px;
  height: 380px;
  padding-left: 58px;
}

#main #main_bottom #main_bottom_r div {
  height: 1px;
  width: 290px;
  margin: 20px 0 15px;
  border-top: #e2e2e2 solid 1px;
  border-bottom: #e2e2e2 solid 1px;
}

#main .main_p1 {
  text-align: center;
  margin: 40px auto 40px;
  width: 900px;
  font-size: 12px;
}

#main .main_p1 span:hover {
  color: #ff464e;
}

#main .main_p2 {
  font-size: 12px;
}

.p1 {
  color: #333;
  top: 0;
}
